.btn{
  display: block;
  margin: 0 .2rem;
  line-height: .3rem;
  font-size: .12rem;
  text-align: center;
  border-radius: .05rem;
  border-width: .01rem;
  border-style: solid;
  width: calc(~"100% - .4rem");
  &-green {
    color: #fff;
    background-color:  #239B37;
  }
}
