<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <ul>
      <% for(var i = 0; i < items.length; i++) {%>
        <li>
          <a href=<%= items[i].href %> >
            <%= items[i].name %>
          </a>
        </li>
        <%} %>
    </ul>
  </body>
</html>
